@tailwind base;
@tailwind components;
@tailwind utilities;

.correct-tile {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.present-tile {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.wrong-tile {
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}

.empty-tile {
    background-color: white;
    color: black;
    border-color: #d3d6da;
}

Button {
    color: black;
    background-color: #d3d6da;
    border-width: 0;
    font-weight: bold;
    font-size: 18;
}

Label {
    font-weight: bold;
    font-size: 24;
}

.game-status {
    font-size: 18;
    margin: 10;
    text-align: center;
}

.tile {
    width: 48;
    height: 48;
    margin: 2;
    text-align: center;
    vertical-align: middle;
    border-width: 2;
    border-radius: 4;
}